<ion-header class="header">
</ion-header>
<br>

<ion-content [fullscreen]="true">
  <div class="medilogo">
    <ion-card class="medilogo">
      <ion-img src="assets/silicon.png" alt="logo"></ion-img>
      <ion-card-title><b>Medisoft</b></ion-card-title>
    </ion-card>
  </div>
  <hr class="dash">

  <ion-toolbar class="sub">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <h5><b>Doctor Registration</b></h5>
  </ion-toolbar>
  <br>

  <ion-note><b>Speciality</b></ion-note>

  <ion-segment scrollable="true">
    <ion-segment-button>
      <ion-buttons class="topbtn">
        <ion-button>Cardiology</ion-button> <ion-button>Dermatology</ion-button> <ion-button>Endocrinology</ion-button> <ion-button>Gastroenterology</ion-button>   
      </ion-buttons>
    </ion-segment-button>
  </ion-segment>

  <div class="heading">
    <ion-title class="headline"><b>Clinics</b></ion-title>
    <ion-select label="Add Clinics" label-placement="floating" fill="outline">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <!-- <ion-buttons>
      <ion-button>Add Clinic</ion-button>
    </ion-buttons> -->
  </div>

  <form action="" class="form">
    <ion-label>Clinic Name</ion-label>
    <ion-input type="text" placeholder="enter name" fill="solid" shape="round" errorText="Invalid Name"
      required></ion-input><br>
    <ion-label>Clinic Address</ion-label>
    <ion-input type="text" placeholder="enter name" fill="solid" shape="round" errorText="Invalid Name"
      required></ion-input><br>
    <br><br>

    <ion-buttons>
      <ion-button>Sign Up</ion-button>
    </ion-buttons>
  </form>
 
  <br><br>

  <ion-footer class="footer">
    <ion-toolbar color="#36abe0" >
      <ion-title></ion-title>
      <p>All rights reserved with SiliconMount Tech Pvt. Ltd.</p>
    </ion-toolbar>
  </ion-footer>
  </ion-content>