.details{
  margin-left: 20px;
  margin-right: 20px;
  ion-segment{
    background: #3a98a4;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  ion-label{
    font-size: small;
  }
}

h2{
    margin-top: 10px;
}

.sub{
    align-items: center;
    ion-back-button{
      color: rgb(46, 43, 43);
      margin-top: -10px;
    }
    h5{
      font-size: 20px;
      margin-top: 20px;
    }
  }

.sign{
        text-align: center;
        justify-content: center;
  
}

