<ion-header class="header">
</ion-header>
<br>

<ion-content [fullscreen]="true" margin="20px" class="ion-margin">
  <div class="medilogo">
    <ion-card class="medilogo">
      <ion-img src="assets/silicon.png" alt="logo"></ion-img>
      <ion-card-title><b>Medisoft</b></ion-card-title>
    </ion-card>
  </div>
  <hr class="dash">

  <ion-toolbar class="sub">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <h5><b>Sign In</b></h5>
    <ion-note class="sign">Don't have an Account? <a href="" [routerLink]="['/patient-account']" style="text-decoration:none"> Sign Up</a></ion-note>
  </ion-toolbar>
  <br>

  <div class="details">
    <ion-segment value="default" mode="ios">
      <ion-segment-button value="default">
        <ion-label>Patient</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Doctors</ion-label>
      </ion-segment-button>
      <ion-segment-button value="buttons">
        <ion-label>Admin</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <br>

  <form action="" class="form">
    <ion-label>User Name</ion-label>
    <ion-input type="text" placeholder="enter name" fill="solid" shape="round" errorText="Invalid Name" required></ion-input>
    <br>
    <ion-label>Password</ion-label>
    <ion-input type="password" placeholder="create password" fill="solid" shape="round" errorText="Invalid Password" required></ion-input>
  </form>
  <br>
  <ion-buttons>
    <ion-button [routerLink]="['/login']">Sign In</ion-button> <br>
  </ion-buttons>
 <h6 class="sign"><a href="" style="text-decoration: none;">Forget your Password?</a></h6>  

  <br><br>

  <ion-footer class="footer">
    <ion-toolbar color="#36abe0">
      <p>All rights reserved with SiliconMount Tech Pvt. Ltd.</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>  



