<ion-header class="header">
  <ion-toolbar color="#36abe0">
    <img src="assets/wifi.png" alt="logo">&nbsp;
    <img src="assets/signal.png" alt="logo">&nbsp;
    <img src="assets/battery.png" alt="logo">&nbsp;
  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true">
  <div class="medilogo">
  <ion-card class="medilogo">
    <ion-img src="assets/silicon.png" alt="logo"></ion-img>
    <ion-card-title><b>Medisoft</b></ion-card-title>  
  </ion-card>
</div>

<ion-item lines="none">
  <ion-avatar slot="end">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <span class="user">
  <ion-note>Welcome,</ion-note> <br>
  <ion-label><b>SURBHI RAY</b></ion-label>
</span>
</ion-item>
<hr class="line">

<div class="docprofile">
  <ion-card>  
      <ion-toolbar>
      <ion-buttons slot="start" class="backbtn">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <span class="spn">
      <ion-label><b>Dr. Bellamy Nicholas</b></ion-label> <br>
      <ion-note>Virologist</ion-note>
    </span> 
    <ion-buttons slot="primary">
      <ion-button class="dotbtn">
        <ion-icon slot="end" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-card>
</div>

<div class="card3">
  <ion-card>
    <img src="/assets/patients.png">
    <ion-card-header>
      <ion-card-title><b>1000+</b></ion-card-title>
      <ion-card-subtitle>Patients</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="/assets/badge.png">
    <ion-card-header>
      <ion-card-title><b>10 Yrs</b></ion-card-title>
      <ion-card-subtitle>Experience</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="/assets/star.png">
    <ion-card-header>
      <ion-card-title><b>4.5</b></ion-card-title>
      <ion-card-subtitle>Ratings</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>

<div class="about">
  <h5><b>About Doctor</b></h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium mollitia cumque. Iure accusantium in reiciendis dolore dolorem nulla praesentium id eligendi, dolores possimus obcaecati, modi quos, ut fugiat neque non cum tenetur aliquam magnam reprehenderit quo? Quisquam, nulla? Fuga totam deleniti laboriosam earum molestias temporibus ea animi dolores dolore?</p>

  <h5><b>Working time</b></h5>
  <p>Mon - Sat (08:30 AM - 09:00 PM)</p>
</div>

<h5 class="about"><b>Communication</b></h5>

<div class="com">
  <ion-card class="com">
    <ion-icon name="call"></ion-icon>
    <ion-card-content>
      <ion-card-title>Audio Call</ion-card-title>
      <ion-card-subtitle>Call your doctor directly.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card class="com">
    <ion-icon name="videocam"></ion-icon>
    <ion-card-content>
      <ion-card-title>Video Call</ion-card-title>
      <ion-card-subtitle>See your doctor live.</ion-card-subtitle>
    </ion-card-content>
  </ion-card> 
</div>

<div class="com">
<ion-card class="com">
  <ion-icon name="chatbubble-ellipses"></ion-icon>
  <ion-card-content>
    <ion-card-title>Messaging</ion-card-title>
    <ion-card-subtitle>Chat me up, share photos.</ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card class="com">
  <ion-icon name="mail"></ion-icon> 
  <ion-card-content>
    <ion-card-title>Mailing</ion-card-title>
    <ion-card-subtitle>Drop your mail here.</ion-card-subtitle>
  </ion-card-content>
</ion-card>
</div>

<span class="set">
<ion-buttons>
  <ion-button [routerLink]="['/set-appointment']">Book Appointment</ion-button>
</ion-buttons>
</span>


<br><br>

  <ion-footer class="footer">
    <ion-toolbar color="#36abe0">
      <ion-title></ion-title>
      <p>All rights reserved with SiliconMount Tech Pvt. Ltd.</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>

