<ion-header class="header">
  <ion-toolbar color="#36abe0">
    <img src="assets/wifi.png" alt="logo">&nbsp;
    <img src="assets/signal.png" alt="logo">&nbsp;
    <img src="assets/battery.png" alt="logo">&nbsp;
  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true">
  <div class="medilogo">
  <ion-card class="medilogo">
    <ion-img src="assets/silicon.png" alt="logo"></ion-img>
    <ion-card-title><b>Medisoft</b></ion-card-title>  
  </ion-card>
</div>

<ion-item lines="none">
  <ion-avatar slot="end">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <span class="user">
  <ion-note>Welcome,</ion-note> <br>
  <ion-label><b>SURBHI RAY</b></ion-label>
</span>
</ion-item>
<hr class="line">

<ion-item lines="none">
  <ion-list class="topbar">
    <ion-buttons slot="start" class="backbtn">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label><b>Dr. Bellamy Nicholas</b></ion-label>
    <ion-icon name="call-outline"></ion-icon>
    <ion-icon name="videocam-outline"></ion-icon>
  </ion-list>
</ion-item>

<ion-item lines="none">
  <ion-list id="text">
    <ion-icon name="add"></ion-icon>
    <ion-input placeholder="Write a message..."></ion-input>
    <ion-icon name="mic-outline"></ion-icon>
  </ion-list>
</ion-item>  
  

<ion-footer class="footer">
    <ion-toolbar color="#36abe0">
      <p>All rights reserved with SiliconMount Tech Pvt. Ltd.</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>

