.user {
    ion-label{
     font-size: small;
     margin-left: 20px;
     margin-bottom: -15px;
     }
     ion-note{
      font-size: x-small;
      margin-left: 20px;
      color: #286687;
     }
 }
 ion-avatar{
     margin-right: 20px;
 }

.mid{
    display: flex;
    text-align: center;
    margin-top: -10px;

    ion-card{
        width: 100%;
        box-shadow:none ;
    }
    ion-title{
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 20px;
    }  
    ion-back-button {
        margin-top: -20px;
    }
}

.spn{
    ion-label{
        font-size: 20px;
    }
    ion-note{
        font-size: 15px;
    }
}

#modal{
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 20px;
}

.dt{
    color: rgb(46, 43, 43);
}

.timeslot{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -2px;
}
.timeslot ion-button{
    background-color: white;
    color: rgb(46, 43, 43);
    border: none;
    margin: 5px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

h5{
    margin: 20px;
}

.details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    ion-label{
        font-size: small;
        color: rgb(46, 43, 43);
        margin-top: 2px;
    }
    ion-segment {
        background: #3a98a4;
        width: 50%;
        height: 35px;
        border-radius:10px;
        justify-content: center;
        text-align: center;   
    }
}  






